<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% if @user.present? %>
  <%= button_to "Logout", '/logout', method: :get %>
<% else %>
  <%= button_to "Create New User", '/register', method: :get %>
  <%= button_to "Login", '/login', method: :get %>
<% end %>
<br>
<br>
<br>
<br>
<div id='existing-users'>

  <h1> Existing Users </h1>
  
  <% @users.each do |user| %>
    <%= user.email %> <br>
  <% end %>

</div>